<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<%= form_tag search_events_url, method: :post do %>
  <ul id="topics_list">
    <% Topic.order("created_at").each do |topic| %>
      <li>
         <%= check_box_tag "topic-#{topic.id.to_i}" %>
         <%= topic.name %>
      </li>
    <% end %>
  </ul>
  <%= submit_tag "search" %>
<% end %>
