<div class="container-fluid">
 <div class="row">
  <div class="col-md-8">
   <% if @showing_expired %>
     <h1 id="expired_header">Expired Listings</h1>
     See <%= link_to "current listings", events_path %>
   <% else %>
     <h1 id="current_header">Current Listings (<%= link_to 'Add', new_event_path %>)</h1>
     See <%= link_to "expired listings", expired_events_path %>
   <% end %>
  </div>
  <div class="col-md-4">
    <form action="<%= @search_form_url %>"
          id="listing_search_form" 
          class="form-inline" 
          style="padding-top: 25px">
      <div class="form-group">
         <label for="pattern">Search:</label>
         <input name="pattern" id="pattern" class="form-control"/>
      </div>
    </form>
   </div>
  </div>
 </div>
</div>
<br/>
<div class="container-fluid">
 <div class="row">
  <div class="col-md-12" id="listing_table_container">
   <%= render partial: 'listings_table' %>
  </div>
 </div>
</div>

