<% if @showing_expired %>
  <h1 id="expired_header">Expired Listings</h1>
  See <%= link_to "current listings", events_path %>
<% else %>
  <h1 id="current_header">Current Listings (<%= link_to 'Add', new_event_path %>)</h1>
  See <%= link_to "expired listings", expired_events_path %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Days left</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.expires_in_days %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
