<div class="container">
  <h1 class="event_name"><%= @event.name %></h1>
  <p class="event_description"><%= raw(@event.description) %></p>
  <p class="event_topics">
    <% @event.topics.each do |topic| %>
    <span class="label label-success"><%= topic.fancy_name %></span>
    <% end %>
  </p>
  <div class="well">
    <h3>Need help applying?</h3>
    <p>
      <a href="/contact" class="btn btn-primary btn-block btn-md">Contact YouthHub</a>
    </p>
  </div>

  <% if user_signed_in? %>
    <div class="edit_navigation_links">
      <%= link_to 'Edit', edit_event_url(@event) %> |
      <%= link_to 'Back', events_path %>
    </div>
  <% end %>
</div>
